{% extends "template_parts/base.html" %}


{% block content %}
<main class="col px-md-4">
	<div class="bg-white p-3 mt-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
			<h1 class="h2">Closing Survey</h1>
		</div>
		<div class="">

			<form>

				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="ai_comments">Comments about the AI and explanations</label>
							<textarea class="form-control" id="ai_comments" rows="3"></textarea>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

		</div>
	</div>

</main>

{% endblock %}
