{% extends "template_parts/base.html" %}


{% block content %}
<main class="col px-md-4">
	<div class="bg-white p-3 mt-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
			<h1 class="h2">Samples</h1>
		</div>
		<hr/>

		<div class="row">

			<div class="row">
				<div class="col-3">
					<div class="row">
						<div class="col-12 m-sm-auto m-md-0">
							<img class="mb-3" src="{{ url_for('study.get_image', filename=sample_id|string + '/input.jpg') }}" width="100%" id="model_input">
						</div>
					</div>
				</div>
				<div class="col-9">
					<form action="" method="post">
						{{ form.hidden_tag() }}
						<div class="row">
							<button type="submit" name=submit class="btn btn-primary col-3", value="malignant">Malignant</button>
							<button type="submit" name=submit class="btn btn-primary col-3", value="benign">Benign</button>
						</div>
					</form>
					<p>The AI predicted the sample as: {{task_out}}</p>
				</div>
			</div>
			<h4>Predicted concepts</h4>
			<div>
				{% for concept in concept_out %}
					{% set concept_id = concept[0] %}
					<div class="row mb-3">
						<div class="col-2">
							<img class="" src="{{ url_for('study.get_image', filename=sample_id|string + '/' + concept[1]|string) }}" width="100%" id="explanation_{{ concept_id }}">
						</div>

						<div class="col-10">
							<input type="hidden" id="{{ concept_id }}-initial" value="{{ concept[2]|round(2) }}">
							<input type="range" class="form-range" min="0" max="1" step="0.01" value="{{ concept[2]|round(2) }}" id="{{ concept_id }}" name="{{ concept_id }}" onchange="enableBtn('{{ concept_id }}-reset'); updateValue('{{ concept_id }}'); logUpdate('{{ concept_id }}', '{{ sample_id }}', false)">
							<p><span class="badge rounded-pill bg-secondary" id="{{ concept_id }}-badge">{{ concept[2]|round(2) }}</span></p>
							<button type="button" class="btn btn-secondary" onclick="resetValue({{ concept_id }})" id="{{ concept_id }}-reset" disabled>Reset</button>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<br/>

		<a class="btn btn-primary" href="{{ url_for('study.sample_survey') }}" role="button">Sample survey</a>
	</div>

</main>

<script type="text/javascript">

	var last_recorded_action_time = Date.now();
	const sample_id = {{ sample_id }};

	// reset concept value to initial on button click
	function resetValue(input_id) {
		initial_value = document.getElementById(input_id + "-initial").value;
		document.getElementById(input_id).value = initial_value;
		document.getElementById(input_id + "-reset").disabled = true;
		document.getElementById(input_id + "-badge").innerHTML = initial_value;
		logUpdate(input_id, sample_id, true)
	};

	// enabe reset button
	function enableBtn(btn_id) {
		document.getElementById(btn_id).disabled = false;
	};

	// update readout for slider value and update concept image
	function updateValue(input_id) {
		new_value = document.getElementById(input_id).value;
		document.getElementById(input_id + "-badge").innerHTML = new_value;
	};

	// log user changes to concept predictions
	function logUpdate(concept_id, sample_id, reset_pressed) {

		action_time = Date.now();

		$.ajax({
			type:'POST',
			url:'{{ url_for('study.log_range_update') }}',
			data:{
				type: "range",
				last_action_time: last_recorded_action_time,
				action_time: action_time,
				update_value: document.getElementById(concept_id).value,  // range htmp object id is the same as the concept id
				concept_id: concept_id,
				sample_id: sample_id,
				reset_pressed: reset_pressed,
			}
		});

		last_recorded_action_time = action_time;
	};

	// log whenever concept explanations are visible
	var observer = new IntersectionObserver((entries) => {
		if (entries[0].intersectionRatio >= 0.0001) {  // using ratio as without is less consistent
			var concept_id = entries[0]['target'].id.split("_")[1] // get concept id
			$.ajax({
				type:'POST',
				url:'{{ url_for('study.log_concept_seen') }}',
				data:{
					type: "concept visible",
					action_time: Date.now(),
					concept_id: concept_id,
					sample_id: sample_id,
				}
			});
		}
	});

	{% for concept in concept_out %}
		{% set concept_id = concept[0] %}
		observer.observe(document.querySelector("#explanation_{{ concept_id }}"));
	{% endfor %}

</script>

{% endblock %}
