{% extends "template_parts/base.html" %}


{% block content %}
<main class="col px-md-4">
	<div class="bg-white p-3 mt-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
			<h1 class="h2">AI introduction</h1>
		</div>
		<div class="">

			<p>We have created an artificial intelligence (AI) agent to detect skin diseases from images. Skin diseases are detected in a two-step process. First, the AI agent detects 22 visual observations, which we call <i>concepts</i>. These concepts are then used to allow the AI agent to reason about the label it suggests to assign to the image.</p>

			<div class="row mb-3">
				<div class="col-12 col-sm-10 col-md-8 mb-3 mx-auto">
					<figure>
						<img class="h-auto" src="{{ url_for('study.get_image_tutorial', filename='/CBM_skin.jpeg') }}" width="100%">
						<figcaption>The AI agent suggests a label for a given image in a two-step process. (1) The AI agent analyses a given image and detects the presence or absence of 22 concepts before (2) using the concept outputs to suggest a label.</figcaption>
					</figure>
				</div>
			</div>

			<p>The AI agent was created using 114 skin conditions, but for this study, we are only asking you to label images of <b>seborrheic keratosis</b> and <b>malignant melanoma</b>. As the AI was created using a broad range of skin conditions, the AI may detect unexpected concepts for seborrheic keratosis and malignant melanoma. It should also be understood the AI agent can make mistakes.</p>

			<p>In this study, we are evaluating the AI agent's capabilities. Please do not see this as a new tool for your work as it is not designed to be used outside of research.</p>

			<div class="">
				<a class="btn btn-primary" href="{{ url_for('study.tutorial') }}" role="button">Continue to the tutorial</a>
			</div>
		</div>
	</div>

</main>

{% endblock %}
