{% extends "template_parts/base.html" %}




{% block content %}
<main class="col px-md-4">
	<div class="bg-white p-3 mt-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
			<h1 class="h2">Tutorial</h1>
		</div>
		<div class="">

			<div class="text-center">
				<button type="button" class="btn btn-primary btn-lg mx-auto" onclick="startTutorial()">Start tutorial</button>
				<p class="mt-3">(You can start the study by clicking the button at the bottom of the page)</p>
			</div>

			<hr />

			<div class="row" id="sample-layout">

				<div id="ai-prediction" class="bg-white col-12 col-md-7">
					<div class="">
						<div class="container-fluid" style="max-width: 1140px;" id="ai-prediction-position">
							<div class="row mb-3">
								<div class="col-12">
									<div class="m-auto" id="input_img_container">
										<img class="mb-3 h-auto" src="{{ url_for('study.get_image_tutorial', filename=sample_id|string + '/input.jpeg') }}" width="100%" id="model_input">
									</div>
								</div>
								<div class="col-12">
									<div class="card border-info mb-3" id="model-output">
										<div class="card-header">
										AI prediction
										</div>
										<div class="card-body">
											<p class="card-text" id="task-out"></p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="sample-classification">
							<p class="h4 text-center">Please label the sample</p>

							<p class="h6 text-center">Select the option that applies
								<button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_ai_use" aria-expanded="false" aria-controls="collapse_ai_use">
									<i class="bi bi-question-circle-fill"></i>
								</button>
							</p>
							<div class="collapse border border-info-subtle p-1 rounded" id="collapse_ai_use">
								<p><b>I used the AI predictions</b>: You looked at, interacted with or agreed with the concept predictions or sample label prediction.</p>
								<p><b>I did not use AI predictions</b>: You did not look at the AI predictions before labeling the sample.</p>
							</div>

							<div class="mb-3 text-center">
									<div class="form-check form-check-inline">
										<input class="form-check-input" id="ai_use-0" name="ai_use" required="" type="radio" value="1">
										<label class="form-check-label" for="ai_use-0" id="ai_use_true">I used the AI predictions</label>
									</div>

									<div class="form-check form-check-inline">
										<input class="form-check-input" id="ai_use-1" name="ai_use" required="" type="radio" value="2">
										<label class="form-check-label" for="ai_use-1" id="ai_use_false">I did not use AI predictions</label>
									</div>
							</div>
							<p class="h6 text-center">Label the sample</p>
							<div class="d-flex justify-content-center">
								<button type="submit" name="submit" class="btn btn-secondary mx-2" value="malignant">Malignant melanoma</button>
								<button type="submit" name="submit" class="btn btn-secondary mx-2" value="benign">Seborrheic keratosis</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-5">
					<h4 id="concept_list_title">Predicted concepts</h4>

					<label for="concept_order" class="form-label">Concept order</label>
					<select id="concept-order" class="form-select mb-3" aria-label="concept_order" id="concept_order" onChange="orderConcepts(this.options[this.selectedIndex].value, true)">
						<option selected value="hl">Highest to lowest concept value</option>
						<option value="lh">Lowest to highest concept value</option>
					</select>
					<div class="row" id="all_explanations">
						{% for concept in concept_out %}
							{% set concept_id = concept[0] %}

							<div class="col-12" id="explanation_{{ concept_id }}">
								<div class="card mb-3">
									{% if explanation_version == 0 %}
										<div class="card-body">
											<div class="d-flex justify-content-between mb-2">
												<p class="card-text" id="concept_name_{{ concept_id }}">{{ concept[3] }}</p>
												<button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDesc_{{ concept_id }}" aria-expanded="false" aria-controls="collapseDesc_{{ concept_id }}">
													<i class="bi bi-question-circle-fill"></i>
												</button>
											</div>
											<div class="collapse border border-info-subtle p-1 rounded" id="collapseDesc_{{ concept_id }}">
												<p>{{ concept[4] }}</p>
											</div>
											<input type="hidden" id="{{ concept_id }}-initial" value="{{ concept[2]|round(2) }}">
											<input type="range" class="form-range" min="0" max="1" step="0.01" value="{{ concept[2]|round(2) }}" id="{{ concept_id }}" name="{{ concept_id }}" onchange="enableBtn('{{ concept_id }}-reset'); updateValue('{{ concept_id }}'); logUpdate('{{ concept_id }}', '{{ sample_id }}', false);">
											<p><span class="badge rounded-pill bg-secondary" id="{{ concept_id }}-badge">{{ concept[2]|round(2) }}</span></p>
											<button type="button" class="btn btn-secondary" onclick="resetValue({{ concept_id }})" id="{{ concept_id }}-reset" disabled>Reset</button>
										</div>
									{% elif explanation_version == 1 %}
										<div class="row g-0">
											<div class="col-md-4" id="{{ concept_id }}_img_container">
												<img class="img-fluid rounded-start w-100 h-auto" src="{{ url_for('study.get_image_tutorial', filename=sample_id|string + '/' + concept[1]|string) }}" id="image_saliency_{{ concept_id }}">
											</div>
											<div class="col-md-8">
												<div class="card-body">
														<div class="d-flex justify-content-between mb-2">
															<p class="card-text" id="concept_name_{{ concept_id }}">{{ concept[3] }}</p>
															<button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDesc_{{ concept_id }}" aria-expanded="false" aria-controls="collapseDesc_{{ concept_id }}">
																<i class="bi bi-question-circle-fill"></i>
															</button>
														</div>
														<div class="collapse border border-info-subtle p-1 rounded" id="collapseDesc_{{ concept_id }}">
															<p>{{ concept[4] }}</p>
														</div>
														<input type="hidden" id="{{ concept_id }}-initial" value="{{ concept[2]|round(2) }}">
														<input type="range" class="form-range" min="0" max="1" step="0.01" value="{{ concept[2]|round(2) }}" id="{{ concept_id }}" name="{{ concept_id }}" onchange="enableBtn('{{ concept_id }}-reset'); updateValue('{{ concept_id }}'); logUpdate('{{ concept_id }}', '{{ sample_id }}', false);">
														<p><span class="badge rounded-pill bg-secondary" id="{{ concept_id }}-badge">{{ concept[2]|round(2) }}</span></p>
														<button type="button" class="btn btn-secondary" onclick="resetValue({{ concept_id }})" id="{{ concept_id }}-reset" disabled>Reset</button>
												</div>
											</div>
										</div>
									{% endif %}
								</div>
							</div>

						{% endfor %}
					</div>
				</div>
			</div>

			<hr />

			<div class="d-grid col-6 mx-auto mt-5">
				<a class="btn btn-primary btn-lg mx-auto" href="{{ url_for('study.samples') }}" id="continue_to_study" role="button">Contine to study</a>
			</div>

		</div>
	</div>

</main>

<script src="https://cdn.jsdelivr.net/npm/onnxruntime-web@1.16.3/dist/ort.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/js-image-zoom.js') }}"></script>
<script type="text/javascript">

	var intro = introJs();
	intro.setOptions({
		steps: [{
			title: 'Welcome',
			intro: 'Thank you for taking part in this study.'
		},
		{
			title: 'Study aim',
			intro: 'We have created an artificial intelligence (AI) agent to help you classify skin diseases from images as either <b>malignant melanoma</b> or <b>seborrheic keratosis</b>. The artificial agent is capable of explaining it\'s prediction.'
		},
		{
			title: 'Study aim',
			intro: 'We are measuring the effect these explanations have on you completing the task.'
		},
		{
			title: 'Page layout',
			intro: 'The study will use the same layout as on this page. The sample images will be on the left and explanations on the right.'
		},
		{
			element: document.getElementById('sample-classification'),
			intro: 'When you have evaluated the sample you will be asked to label it.'
		},
		{
			element: document.getElementById('ai_use_true'),
			intro: 'Please select this option if you interacted with the AI agent in any way. This could be evaluating the sample prediction, the concept explanations, or modifying concept predictions.'
		},
		{
			element: document.getElementById('ai_use_false'),
			intro: 'Please select this option if you classified the sample without evaluating any of the AI agents outputs.'
		},
		{
			element: document.getElementById('ai-prediction-position'),
			intro: 'You will be presented with sample images and AI agent\'s predictions.'
		},
		{
			title: 'AI prediction',
			element: document.getElementById('model-output'),
			intro: 'The AI agent classifies samples in a two-step process. It will first predict a series of concepts and then use the concept prediction for the sample classification.'
		},
		{
			title: 'Concept explanations',
			element: document.getElementById('concept_list_title'),
			intro: 'The AI agent predicts 22 concepts.'
		},
		{
			title: 'Concept explanations',
			element: document.getElementById('concept_list_title'),
			intro: 'Concepts represent visual observations we may see in a sample image.'
		},
		{
			title: 'Concept order',
			element: document.getElementById('concept-order'),
			intro: 'Concepts can be ordered in ascending or descending order based on the concept value. By default, it is ordered in descending order.'
		},
		{
			title: 'Concept name',
			element: document.getElementById('concept_name_16'),
			intro: 'The concept name uses a standard lexicon to describe visual observations.'
		},
		{
			title: 'Concept value',
			element: document.getElementById('16-badge'),
			intro: 'The AI agent predicts a value for each concept between 0 and 1. Any value of 0.5 and over means the AI agent predicted the concept as present, and a value below 0.5 is not present. This value can be seen as how confident the model was. A value close to 0 or 1 is very confident, whereas a value close to 0.5 is not confident.'
		},
		{% if explanation_version == 1 %}
		{
			title: 'Explanation saliency',
			element: document.getElementById('image_saliency_16'),
			intro: 'Each concept explanation has an image which shows the saliency of what the artificial agent used to make the prediction. Red highlights pixels contributing towards the concept prediction and blue highlights pixels against the concept prediction.'
		},
		{% endif %}
		{
			title: 'Interventions',
			element: document.getElementById('16'),
			intro: 'You can modify concept predictions if you believe they are incorrect or wish to see what the artificial agent would predict if they were different.'
		},
		{
			title: 'Interventions',
			element: document.getElementById('16'),
			intro: 'In this example, we have updated the value for the concept "Brown".'
		},
		{
			title: 'Interventions continued',
			element: document.getElementById('model-output'),
			intro: 'By changing the concept prediction, the AI agent classification will be updated. In this case, there was no change.'
		},
		{
			title: 'Reset concept predictions',
			element: document.getElementById('16-reset'),
			intro: 'You reset a concept prediction by pressing the reset button.'
		},
		{
			title: 'Contine to study',
			element: document.getElementById('continue_to_study'),
			intro: 'You can continue to the study by pressing the continue button.'
		},]
	});

	{% if explanation_version == 0 %}
		const update_step = 15
	{% elif explanation_version == 1 %}
		const update_step = 16
	{% endif %}

	intro.onbeforechange(function () {
		if (this._currentStep === update_step) {
			document.getElementById('16').value = 0.15;
			updateValue('16');
			enableBtn('16-reset')
			predict();
		}
	});

	function startTutorial() {
		intro.start();
	};


	// reset concept value to initial on button click
	function resetValue(input_id) {
		initial_value = document.getElementById(input_id + "-initial").value;
		document.getElementById(input_id).value = initial_value;
		document.getElementById(input_id + "-reset").disabled = true;
		document.getElementById(input_id + "-badge").innerHTML = initial_value;
		predict();
	};

	// enabe reset button
	function enableBtn(btn_id) {
		document.getElementById(btn_id).disabled = false;
	};

	// update readout for slider value and update concept image
	function updateValue(input_id) {
		new_value = document.getElementById(input_id).value;
		document.getElementById(input_id + "-badge").innerHTML = new_value;
	};

	const allExplanaions = document.querySelectorAll('[id^="explanation_"]');

	// predict downstrea task from concept values
	async function predict() {
		// load model
		const session = await ort.InferenceSession.create("{{ url_for('study.static', filename=model_name) }}");

		// get concpet values and turn into tensor
		var concept_arr = [];
		{% for concept in concept_out %}
			concept_arr.push(document.getElementById("{{ concept[0] }}").value);
		{% endfor %}
		const concept_vec = new Float32Array(concept_arr);
		const tensorA = new ort.Tensor('float32', concept_vec, [1, 22]);

		// prepare feed for models. Key is the model input name
		const feeds = { "onnx::Gemm_0": tensorA };

		// get downstream task predictions
		const results = await session.run(feeds);

		// Get index of highest value in downsream task predictions
		const task_output = results["7"].data;
		var maxNum = Math.max.apply(null, task_output);
		var index = task_output.indexOf(maxNum);

		// update task out prediction displayed
		if (index <= 0) {
			document.getElementById("task-out").innerHTML = "seborrheic keratosis";
		} else {
			document.getElementById("task-out").innerHTML = "malignant melanoma";
		};
	};

	// reorder concept explanations
	function orderConcepts(orderby) {
		var concept_list = [];
		// add all concepts ids and values to array
		allExplanaions.forEach(explanation_object => {
			concept_list.push([explanation_object.id, document.getElementById(explanation_object.id.split('_')[1]).value])
		});

		// reorder aray
		if (orderby == "lh") {
			concept_list.sort(function(a,b){return a[1].localeCompare(b[1]);});
		} else {  // hl
			concept_list.sort(function(a,b){return a[1].localeCompare(b[1]);}).reverse();
		}

		// add each explanation to the div all_explanations in order of concept_list
		container = document.getElementById("all_explanations")
		concept_list.forEach(explanation => {
			container.appendChild(document.getElementById(explanation[0]))
		});
	};

	// image zoom
	var imageZoomMainOptions = {
		fillContainer: true,
		offset: {vertical: 0, horizontal: 0},
		zoomPosition: "bottom",
		zoomStyle: "z-index: 999;",
	};

	var imageZoomExplainOptions = {
		fillContainer: true,
		scale: 1.1,
		zoomWidth: 300,
		width: 200,
		height: 200,
		offset: {vertical: 0, horizontal: 0},
		zoomPosition: "bottom",
		zoomStyle: "z-index: 999;",
	};

	//new ImageZoom(document.getElementById("input_img_container"), imageZoomMainOptions);

	{% if explanation_version == 1 %}
		{% for concept in concept_out %}
			new ImageZoom(document.getElementById("{{ concept[0] }}_img_container"), imageZoomExplainOptions);
		{% endfor %}
	{% endif %}

	// run all functions for the inital page load
	window.onload = function() {
		predict();
		orderConcepts("hl");

		// clear select form radio buttons
		document.getElementById("ai_use-0").checked = false;
		document.getElementById("ai_use-1").checked = false;
	};

</script>

{% endblock %}
